# Database Configuration
DATABASE_URL="mysql://<user>:<password>@<host>:<port>/<database>"


# NextAuth Configuration
NEXTAUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev
NEXTAUTH_URL=
